/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: gray;
	.container {
		position: relative;

		/* padding: 20px ; */
		margin: auto;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
		/* background: transparent;
        backdrop-filter: blur(20px); */
		padding: 30px;
		.headLine {
			width: 100%;
			display: flex;
			height: 80px;
			align-items: center;
			.btn{
				justify-content: right;
				display: flex;
				align-items: right;
				width: 100%;
				border-radius: 5px;
				cursor: pointer;
				padding: 10px 30px;
				margin-top: 25px;
				margin-left: 5px;
				background: #5668a0;
				font-weight: bolder;
				color: rgb(234, 230, 230);
			}
		}
		.bin {
			padding: 10px;
			background-color: rgb(221, 221, 221);
			border-radius: 10px;
			width: 300px;
			display: flex;
		}
		.lpn {
			padding: 10px;
			background-color: rgb(221, 221, 221);
			border-radius: 10px;
		}
		& p {
			margin: -15px auto;
			padding: 0 auto;
			text-align: end;
		}
		& h2 {
			text-align: center;
		}
		.all {
			display: flex;
			flex-direction: column;
			margin: 15px 0;
			& label {
				font-size: 1.3rem;
				font-weight: bolder;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	body .container {
		height: fit-content;
		width: 500px;
	}
}
